<div class="card" #card>
    <div class="card-info-container">
        <a class="card-info-source-image-link" [href]="model.repositoryUrl" alt="Project Source Image" target="_blank" rel="noopener noreferrer">
            <img class="card-info-source-image" src="assets/img/GitHub-Mark-64px.png">
        </a>
    </div>
    <div class="card-header-container">
        <img class="card-item card-image" *ngIf="model.cardImage" [src]="strapiUrl + model.cardImage.url">
        <a class="card-header-link" [href]="model.repositoryUrl"
           alt="Project Source Image" target="_blank" rel="noopener noreferrer">
            <span class="card-header">{{ model.header }}</span>
        </a>
    </div>
    <span class="card-item card-text text-small-base" [innerHTML]="model.description" #description></span>
</div>
