/* Most of the card its styling is contained in the css of the card component. */

.card {
    max-width: 804px;

    padding: 18px 22px;
}

.card-header-container {
    height: 36px;

    vertical-align: middle;

    .card-image {
        height: 100%;

        margin-right: 12px;

        vertical-align: middle;
    }

    .card-header-link {
        text-decoration: none;
        border: none;

        // transition: opacity .2s ease-in-out,border .2s ease-in-out;
        &:hover {
            opacity: 0.75;
        }
    }
}

.card-info-container {
    height: 24px;

    position: absolute;
    right: 0px;
    top: 12px;

    vertical-align: middle;

    .card-info-source-image-link {
        border: none;

        .card-info-source-image {
            height: 100%;

            vertical-align: middle;

            margin-right: 12px;

            filter: invert(100%);

            // transition: opacity .2s ease-in-out,border .2s ease-in-out;
            &:hover {
                opacity: 0.75;

            }
        }
    }

}