.project-card {
    width: 80vw;
    max-width: 612px;
    min-height: 220px;

    // overflow-y: hidden; // Enable this when the expand button has been implemented.
    margin: 16px auto 18px auto;
    padding: 18px 22px;

    // Used to negate the small additional margin that is on the left by default
    position: relative;
    left: -2px;

    display: flex;
    flex-direction: column;
    text-align: left;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #f2f2f2;
}

.project-card-item {
    margin-bottom: 3px;
}

.project-card-header-container {
    height: 36px;

    vertical-align: middle;

    .project-card-image {
        height: 100%;

        margin-right: 12px;

        vertical-align: middle;
    }
}

.project-card-info-container {
    height: 24px;

    position: absolute;
    right: 0px;
    top: 12px;

    vertical-align: middle;

    .project-card-info-source-image {
        height: 100%;

        vertical-align: middle;

        margin-right: 12px;
    }
}

.project-card-header-link {
    text-decoration: none;
}

.project-card-header {
    font-size: 1.2em;
    font-weight: 600;
}

.project-card-description {
    margin-top: 12px;
    white-space: pre-wrap;
    font-size: 0.95em;
}