$header-height: 60px;

.header-main-container {
    width: 100%;
    height: $header-height;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    position: relative;

    &.active:before{
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        top: 26px;
        left:calc(50% - 3px);

        border-radius: 100%;
        background: black;
    }
}

.header-offset-container {
    height: $header-height;

    margin-left: 30px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-logo-container {
    height: 100%;
    vertical-align: middle;

    .header-logo-helper {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .header-logo {
        vertical-align: middle;
        padding: 0px 10px;
        width: 22px;
    }
}
