<div class="header-main-container">
    <a class="header-item text-small-base" id="Landing-Item" href="#Landing">Landing</a>
    <a class="header-item text-small-base" id="Experience-Item" href="#Experience">Experience</a>
    <a class="header-item text-small-base" id="Education-Item" href="#Education">Education</a>
    <a class="header-item text-small-base" id="Projects-Item" href="#Projects">Projects</a>
    <a class="header-item text-small-base" id="contact-Item" href="#Contact">Contact</a>
    <div class="header-offset-container">
        <a class="header-logo-container" href="https://github.com/Noorts" alt="GitHub logo" target="_blank" rel="noopener noreferrer">
            <span class="header-logo-helper"></span>
            <img src="assets/img/GitHub-Mark-64px.png" class="header-logo" ondragstart="return false; ">
        </a>
        <a class="header-logo-container" href="https://linkedin.com/in/noorts" alt="LinkedIn logo" target="_blank" rel="noopener noreferrer">
            <span class="header-logo-helper"></span>
            <img src="assets/img/LI-In-Bug.png" class="header-logo" ondragstart="return false;">
        </a>
    </div>
</div>
<div class="site-logo">Logo</div>
<div>
    <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="overlay"></div>
    <div class="header-sidebar">
        <div class="header-sidebar-item-container">
            <a class="header-item header-sidebar-item text-small-base" href="#Landing">Landing</a>
            <a class="header-item header-sidebar-item text-small-base" href="#Experience">Experience</a>
            <a class="header-item header-sidebar-item text-small-base" href="#Education">Education</a>
            <a class="header-item header-sidebar-item text-small-base" href="#Projects">Projects</a>
            <a class="header-item header-sidebar-item text-small-base" href="#Contact">Contact</a>
            <div>
                <a class="header-logo-container" href="https://github.com/Noorts" alt="GitHub logo" target="_blank" rel="noopener noreferrer">
                    <span class="header-logo-helper"></span>
                    <img src="assets/img/GitHub-Mark-64px.png" class="header-logo" ondragstart="return false; ">
                </a>
                <a class="header-logo-container" href="https://linkedin.com/in/noorts" alt="LinkedIn logo" target="_blank" rel="noopener noreferrer">
                    <span class="header-logo-helper"></span>
                    <img src="assets/img/LI-In-Bug.png" class="header-logo" ondragstart="return false;">
                </a>
            </div>
        </div>
    </div>
</div>