<div class="header-main-container">
    <a class="header-item active">Home</a>
    <a class="header-item">Experience</a>
    <a class="header-item">Education</a>
    <a class="header-item">Projects</a>
    <a class="header-item">Resume</a>
</div>
<div class="header-offset-container">
    <a class="header-logo-container" href="https://github.com/Noorts" alt="GitHub logo" target="_blank" rel="noopener noreferrer">
        <span class="header-logo-helper"></span>
        <img src="assets/img/GitHub-Mark-64px.png" class="header-logo" ondragstart="return false; ">
    </a>
    <a class="header-logo-container" href="https://linkedin.com/in/noorts" alt="LinkedIn logo" target="_blank" rel="noopener noreferrer">
        <span class="header-logo-helper"></span>
        <img src="assets/img/LI-In-Bug.png" class="header-logo" ondragstart="return false;">
    </a>
</div>
