.site-wrapper {
    display: flex;
    justify-content: center;
    background: #F4F6F8;

    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;

    overflow-y: scroll;
    overflow-x: hidden;

    scroll-behavior: smooth;

    &.disable-scroll {
        overflow-y: hidden;
    }
}

@media only screen and (min-width: 1120px) {
    .site-wrapper {
        overflow-y: scroll !important;
    }
}