.site-wrapper {
    // width: 100%; // Re-enable this to reveal the scrollbar.

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;

    background: var(--default-background-color); // #F4F6F8

    overflow-y: scroll;
    overflow-x: hidden;

    scroll-behavior: smooth;

    &.hidden {
        visibility: hidden;
    }

    &.disable-scroll {
        overflow-y: hidden;
    }
}

@media only screen and (min-width: 1120px) {
    .site-wrapper {
        overflow-y: scroll !important;
    }
}