/* See the child components info card and project card for their specific additional styling rules. */

.card {
    min-height: 120px;

    margin: 16px 20px 18px 20px;

    // Used to negate the small additional margin that is on the left by default
    position: relative;
    left: -2px;

    display: flex;
    flex-direction: column;
    text-align: left;

    box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.1);
    border-radius: 6px;
    background-color: #242424;
}

.card-item {
    margin-bottom: 3px;
}

.card-header {
    margin-bottom: 5px;

    font-size: 1.2em;
    font-weight: 500;
    color: #E5E7EB;
}

.card-text {
    margin-top: 14px;
    white-space: pre-wrap;

    font-size: 0.85em;
    color: #BABCBD;
}

.card-description {
    display: none;
    overflow: hidden;

    &.revealed {
        display: unset;
    }
}

.card-read-more-container {
    margin-top: 6px;

    display: flex;
    align-items: center;
    justify-content: center;


    &.hidden {
        display: none;
    }
}

.card-read-more-text {
    padding: 1px 4px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    border-radius: 4px;

    font-size: 0.8em;
    font-weight: 400;
    color: #828282;

    cursor: pointer;

    &:hover {
        color: #a4a4a4;
    }
}