/* See the child components info card and project card for their specific additional styling rules. */

.card {
    width: 80vw;
    min-height: 220px;
    max-height: 280px;

    margin: 16px auto 18px auto;

    // Used to negate the small additional margin that is on the left by default
    position: relative;
    left: -2px;

    display: flex;
    flex-direction: column;
    text-align: left;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #f2f2f2;

    transition: max-height 1s ease-in;

    &.revealed {
        // CSS used to add animation to resizing of card from: https://stackoverflow.com/a/8331169
        max-height: 2000px;
    }
}

.card-item {
    margin-bottom: 3px;
}

.card-header {
    font-size: 1.2em;
    font-weight: 600;
}

.card-description {
    margin-top: 12px;
    white-space: pre-wrap;
    font-size: 0.95em;

    // See the following link for the line clamp trick: https://css-tricks.com/almanac/properties/l/line-clamp/
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &.revealed {
        display: unset;
    }
}

.card-read-more-container {
    margin-top: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    &.hidden {
        display: none;
    }
}

.card-read-more-text {
    padding: 0px 3px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    font-size: 0.8em;
    font-weight: 400;
    color: #404040;

    &:hover {
        opacity: 0.75;
    }
}