.info-card {
    max-width: 600px;
    min-height: 220px;

    // overflow-y: hidden; // Enable this when the expand button has been implemented.

    padding: 18px 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;

    margin-top: 26px;
    margin-bottom: 18px;

    border: 2px solid #D8D8D8;
    // -webkit-box-shadow: 0px 0px 1px 1px rgb(161, 161, 161);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    // -moz-box-shadow:    0px 0px 1px 1px rgb(161, 161, 161);  /* Firefox 3.5 - 3.6 */
    // box-shadow:         0px 0px 1px 1px rgb(161, 161, 161);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.info-card-item {
    margin-bottom: 3px;
}

.info-card-status {
    width: 220px;
    height: 26px;

    position: absolute;
    top: -15px;
    left: calc(50% - 110px);

    text-align: center;

    background-color:#D8D8D8; // Alternatively: #ffc374
}

.info-card-status-content {
    vertical-align: middle;

    font-size: 1em;
}

.info-card-header {
    font-size: 1.3em;
    font-weight: 600;
}

.info-card-date {
    color: #717171;
}

.info-card-description {
    margin-top: 10px;
    white-space: pre-wrap;
}