.info-card {
    width: 80vw;
    max-width: 600px;
    min-height: 220px;

    // overflow-y: hidden; // Enable this when the expand button has been implemented.

    margin: 16px auto 18px auto;
    padding: 16px 20px;

    // Used to negate the small additional margin that is on the left by default
    position: relative;
    left: -2px;

    display: flex;
    flex-direction: column;
    text-align: left;

    background-color: #ececec;
    border: solid #D6DCE0 1px;
}

.info-card-item {
    margin-bottom: 3px;
}

.info-card-status {
    width: 220px;
    height: 24px;

    position: absolute;
    top: -13px;
    left: calc(50% - 110px);

    text-align: center;

    background-color:#C4C4C4; // Alternatively: #ffc374
}

.info-card-status-content {
    vertical-align: middle;

    font-size: 0.9em;
}

.info-card-header {
    font-size: 1.3em;
    font-weight: 600;
}

.info-card-date {
    color: #717171;
}

.info-card-description {
    margin-top: 10px;
    white-space: pre-wrap;
    font-size: 0.95em;
}