<div class="info-card">
    <div class="info-card-status" *ngIf="model.statusContent">
        <span class="info-card-status-content">{{ model.statusContent }}</span>
    </div>
    <span class="info-card-item info-card-header">{{ model.header }}</span>
    <span class="info-card-item info-card-org">{{ model.organisation }}</span>
    <span class="info-card-item info-card-date">{{ model.dateRange }}</span>
    <span class="info-card-item info-card-description">{{ model.description }}</span>
</div>
