.info-card {
    width: 80vw;
    max-width: 600px;
    min-height: 220px;

    // overflow-y: hidden; // Enable this when the expand button has been implemented.

    margin: 16px auto 18px auto;
    padding: 18px 25px;

    // Used to negate the small additional margin that is on the left by default
    position: relative;
    left: -2px;

    text-align: left;
    display: flex;
    flex-direction: column;

    border: 2px solid #D8D8D8;
}

.info-card-item {
    margin-bottom: 3px;
}

.info-card-status {
    width: 220px;
    height: 26px;

    position: absolute;
    top: -15px;
    left: calc(50% - 110px);

    text-align: center;

    background-color:#D8D8D8; // Alternatively: #ffc374
}

.info-card-status-content {
    vertical-align: middle;

    font-size: 1em;
}

.info-card-header {
    font-size: 1.3em;
    font-weight: 600;
}

.info-card-date {
    color: #717171;
}

.info-card-description {
    margin-top: 10px;
    white-space: pre-wrap;
}