<div class="landing-area-container">
    <div class="landing-area-container-centered">
        <p class="text-base">{{ landingAreaContent.introText }}</p>
        <h1 class="home-title">{{ landingAreaContent.name }}</h1>
        <p class="text-base">{{ landingAreaContent.baseText }}</p>
        <div class="arrow-container">
            <a href="#Experience">
                <i class="down-arrow"></i>
            </a>
        </div>
    </div>
    <div class="landing-area-bottom-border"></div>
</div>