.home-title {
    font-size: 40px;
    font-weight: 700;
    margin: 22.8px 0px 30.8px;
}

.landing-area-container {
    text-align: center;
    height: 100vh; /* Viewport height, the header is now fixed. */

    &:before {
        content: '\200B';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing. */
    }

    .landing-area-container-centered {
        width: 554px;
        display: inline-block;

        vertical-align: middle;
    }
}

.arrow-container {
    margin-top: 10vh;
    text-align: center;

    .down-arrow {
        border: solid black;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

.landing-area-bottom-border {
    width: 800px;
    margin: auto;
    border-bottom: 1px solid black;
}

// @media only screen and (min-width: 768px) {
//     .home-title {
//         font-size: 40px;
//     }
// }
