.home-photo {
    width: 120px;
    height: 120px;
}

.home-title {
    margin: 22.8px 0px 30.8px;

    font-size: 1.7em;
    font-weight: 600;
}

.landing-area-container {
    margin: 30px 20px 0px 20px;

    text-align: center;

    background-color: var(--alternate-background-color);

    .landing-area-container-centered {
        max-width: 800px;
        display: inline-block;

        vertical-align: middle;
        text-align: left;
    }
}

.landing-area-base-text {
    font-size: 1.05em;
    color: #D8DADF;

    white-space: pre-wrap;
}