<div class="landing-area-container">
    <div class="landing-area-container-centered">
        <p>Hey, I am</p>
        <h1 class="home-title">Simon van Noort</h1>
        <p>A Software Engineering student from the Netherlands.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse commodo massa ligula, at rhoncus lectus fringilla eu.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse commodo massa ligula, at rhoncus lectus fringilla eu.
        </p>
        <div class="arrow-container">
            <i class="down-arrow"></i>
        </div>
    </div>
</div>