.header {
    position: sticky; /* Make it stick to the top of the window. */
    top: 0px;
    z-index: 1;

    width: 114%;

    display: flex;

    background: #F4F6F8;
}

.home-container {
    min-height: 100vh;
    display: block;

    margin-bottom: 200px;
    // background-color: lightyellow;
}