.content-block-container {
    width: 100%;
}

.content-block-content-container {
    max-width: 880px;
    width: 100vw;

    margin: 60px auto 0 auto;

    text-align: center;
}

.content-block-title {
    margin-bottom: 20px;
    margin-left: 36px;
    text-align: left;

    font-size: 1.75em;
    font-weight: 400;
}

.content-block-divider {
    width: 90%;
    height: 1px;

    margin: auto;

    background-color: #e6e6e6;
}

.vertical-line {
    height: 20px;

    margin: 0 auto;

    display: inline-block;

    border-left: 1px solid #4a4a4a;
  }

.vertical-line-with-status {
    margin-bottom: 10px;
}

.nav-anchor {
    border: none;
}