.content-block-container {
    margin: 48px auto 0 auto;
    max-width: 654px;

    text-align: center;
}

.content-block-title {
    margin-bottom: 50px;
}

.vertical-line {
    height: 20px;
    margin: 0 auto;
    display: inline-block;
    border-left: 2px solid #D8D8D8;
  }