.content-block-container {
    width: 100%;

    padding-bottom: 60px;
}

.content-block-content-container {
    max-width: 654px;

    margin: 60px auto 0 auto;

    text-align: center;
}

.content-block-title {
    margin-bottom: 58px;
}

.vertical-line {
    height: 20px;

    margin: 0 auto;

    display: inline-block;

    border-left: 2px solid #D6DCE0;
  }

.vertical-line-with-status {
    margin-bottom: 10px;
}

#section-Experience {
    background-color:  rgb(243, 243, 243);
}

#section-Education {
    background-color: #FFFFFF;
}

#section-Projects {
    background-color: rgb(243, 243, 243);
}