/* You can add global styles to this file, and also import other style files */
* {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    // font-family: Futura ,Trebuchet MS, Arial, sans-serif;
    color: #000000;
}

.text-header {
    font-size: 32px;
    font-weight: 700;
}

.text-base {
    font-size: 1.2em;
    font-weight: 400;
}

.text-small-base {
    font-size: 1.05em;
    font-weight: 400;
}