.footer-container {
    margin: 100px 20px 0px 20px;
    text-align: center;
}

.footer-container-centered {
    width: 100%;
    max-width: 840px;

    display: inline-block;
    vertical-align: middle;

    text-align: left;
}

.footer-content {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.footer-divider {
    color: #5B5C5E;
}

.footer-text {
    color: #B5B5B5;
    font-size: 0.9em;
    font-weight: 300;
}