<div class="contact-area-container">
    <div class="contact-area-container-centered">
        <div class="contact-button-container">
            <div class="contact-button margin-bottom">
                <a class="contact-button-link" href="https://linkedin.com/in/noorts" alt="LinkedIn button" target="_blank" rel="noopener noreferrer"></a>
                <img class="contact-button-img" src="assets/img/LI-In-Bug.png" alt="LinkedIn button">
                <span class="contact-button-content">Noorts</span>
            </div>
            <div class="contact-button margin-bottom">
                <a class="contact-button-link" href="https://github.com/Noorts" alt="GitHub button" target="_blank" rel="noopener noreferrer"></a>
                <img class="contact-button-img" src="assets/img/GitHub-Mark-64px.png" alt="GitHub button">
                <span class="contact-button-content">Noorts</span>
            </div>
            <div class="contact-button">
                <a class="contact-button-link" href="{{ fullResumeLink }}" alt="Download resume button" target="_blank" rel="noopener noreferrer"></a>
                <img class="contact-button-img" src="assets/img/Resume-Download.png" alt="Download resume button">
                <span class="contact-button-content">Resume.pdf</span>
            </div>
        </div>
    </div>
</div>