<div class="contact-area-container">
    <div class="contact-area-container-centered">
        <div class="contact-button-container">
            <div class="contact-button first">
                <a class="contact-button-link" href="https://linkedin.com/in/noorts" alt="LinkedIn button" target="_blank" rel="noopener noreferrer"></a>
                <img class="contact-button-img" src="assets/img/LI-In-Bug.png" alt="">
            </div>
            <div class="contact-button">
                <a class="contact-button-link" href="https://github.com/Noorts" alt="GitHub button" target="_blank" rel="noopener noreferrer"></a>
                <img class="contact-button-img" src="assets/img/GitHub-Mark-64px.png" alt="">
            </div>
        </div>
    </div>
</div>