.contact-title {
    font-size: 28px;
    font-weight: 700;
}

.contact-area-container {
    text-align: center;

    &:before {
        content: '\200B';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing. */
    }

    .contact-area-container-centered {
        width: 100%;
        display: inline-block;

        vertical-align: middle;
    }
}

.contact-button-container {
    margin-top: 32px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-button {
    margin: 0 6px;

    &:hover {
        background-color: #323232;
    }

    &.first {
        margin-bottom: 14px;
    }

    position: relative;

    width: 90vw;
    max-width: 240px;
    height: 60px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.1);
    background-color: #242424;
}

.contact-button-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 2; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.contact-button-img {
    filter: invert(100%);
    width: 36px;
}

.contact-button-text {
    width: 70%;
}