<a _ngcontent-tnu-c16="" class="nav-anchor" id="contact">&nbsp;</a>
<div class="contact-area-container">
    <div class="contact-area-container-centered">
        <h1 class="contact-title">Contact</h1>
        <div class="contact-button-container">
            <div class="contact-button first">
                <a class="contact-button-link" href="https://linkedin.com/in/noorts" alt="LinkedIn button" target="_blank" rel="noopener noreferrer"></a>
                <img class="contact-button-img" src="assets/img/LI-In-Bug.png" alt="">
                <span class="contact-button-text">Get into contact with me through LinkedIn</span>
            </div>
            <div class="contact-button">
                <a class="contact-button-link" href="https://github.com/Noorts" alt="GitHub button" target="_blank" rel="noopener noreferrer"></a>
                <img class="contact-button-img" src="assets/img/GitHub-Mark-64px.png" alt="">
                <span class="contact-button-text">Check out more of my work on GitHub</span>
            </div>
        </div>
    </div>
</div>